@import "tailwindcss";

:root {
  --background-1: #394508;
  --background-2: #fff;
  --background-3: #ededed;
  --foreground: #171717;
  --accent-1: #d2fd9c;
  --accent-2: #77912a;
  --accent-3: #619111;
  --heading: #394508;
  --paragraph-1: #000000;
  --paragraph-2: #5d5d5d;
  --subheading: #cbcbcb;
  --overlay: #d9d9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
